@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');


/* .nav{
  outline: 4px solid black;
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 13vh;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

.el-container{
  margin: 0;
  padding: 0;
  display: flex;
  width: 20%;
  height: 70%;
  justify-content: center;
  align-items: center;
}

#main{
  color: white;
  font-size: 2.3vw;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

#link-container{
  justify-content: space-evenly;
  width: 30%;
}
.smalls{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.el-container button{
  margin-right: 35px;
  padding: 15px;
  background-color: rgba(130, 255, 130, 1);
  color: black;
  border: none;
  border-radius: 15px;
  height: 65%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1vw;
} 
.el-container button:hover{
  cursor: pointer;
}
#button-container{
  justify-content: flex-end;
}

#modal-container{
  display: none;
}
.la-bars{
  font-size: 7vw;
  color: white;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  #main-container{
    width: 50%;
  }
  #main{
    font-size: 5vw;
  }
  #link-container{
    display: none;
  }
  #button-container{
    display: none;
  }
  #modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
  }
}

.test{
  position: absolute;
  left: 50%;
  top: 50%;
} */
